*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--bg-dark: #1f1d2b;
	--bg-light: #252836;
	--main-color: #ea7c69;
	--text-color: #fff;
	--gray-color: #929799;
	--border-color: #393c49;
}

body {
	font-family: sans-serif;
	margin: 0;
	background: var(--bg-light);
}
